<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
<body>
{{#user}}
<span>Hello {{name}}, please place your order.</span>
<!--your email address is: {{email}}.</span>-->
{{/user}}
</body>
</html>


</head>
<body>
<ul>
    {{#home}}
    <li>{{name}}</li>
    <li>{{quantity}}</li>
    <li>{{price}}</li>
    {{/home}}

</ul>
<!--<h2>Welcome, place your order please.</h2>-->
<form method="post" action="/order">

    Name:
    <input type="text" placeholder="What you want?" name="name"/>

    Quantity:
    <input type="text" placeholder="How many you want?" name="quantity"/>

    Price:
    <input type="text" placeholder="What you paying?" name="price"/>

    <input type="submit"/>

</form>

<!--<br>-->
<!--<h1>Delete a restaurant</h1>-->
<!--<form method="post" action="/delete-restaurant" >-->
    <!--ID:-->
    <!--<input type="text" name="id"/>-->

    <!--<input type="submit"/>-->
<!--</form>-->
</body>
</html>